.peaklist-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(244, 244, 244);
	margin-top: 3rem;
}

.peaklist-bg {
	width: 30%;
	background-color: rgb(122, 122, 122);
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.peaklist-title {
	margin-top: 1rem;
	color: rgb(0, 255, 0);
}

.peaklist-content {
	margin-left: 2rem;
	margin-right: 2rem;
}
