.nav {
	font-family: "Courier New", monospace;
}

.nav-bg {
	background-color: rgb(122, 122, 122);
	width: 100%;
}

.logo, .logo:link, .logo:hover, .logo:visited {
	margin-left: 30px;
	text-decoration: none;
	color: rgb(0, 255, 0);
	font-size: 2rem;
	font-weight: bold
}

.nav-item, .nav-item:link, .nav-item:hover, .nav-link:visited {
	margin-left: 30px;
	color: rgb(244, 244, 244) !important;
	font-size: 1rem;
}
