.nav {
	font-family: "Courier New", monospace;
}

.nav-bg {
	background-color: rgb(122, 122, 122);
	width: 100%;
}

.logo, .logo:link, .logo:hover, .logo:visited, .logo:visited:hover {
	margin-left: 30px;
	text-decoration: none;
	color: rgb(0, 255, 0);
	font-size: 2rem;
	font-weight: bold
}

.nav-item, .nav-item:link, .nav-item:hover, .nav-item:visited, .nav-item:visited:hover {
	margin-left: 30px;
	color: rgb(244, 244, 244);
	font-size: 1rem;
}

.modal {
	display: none;
	text-align: center;
}

.modal .overlay{
	width: 100%;
	height: 100vh;
	background: rgba(244,244,244,.66);
	position: absolute;
	top: 0;
	left: 0;
}

.modal .modal-image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.modal .modal-span {
	display: inline-block;
	font-weight: bold;
	color: rgb(244, 244, 244);
}
